openapi: 3.0.0
info:
  title: krs-rdf-api
  version: '1.0'
  description: |-
    Interfejs programistyczny RDF dostępny w serwisie iMSiG.pl umożliwia wyszukiwanie i pobieranie dokumentów złożonych w Repozytorium Dokumentów Finansowych Krajowego Rejestru Sądowego.

    # Wstęp
    Poniżej znajduje się dokumentacja dostępu programatycznego (API) do danych z Krajowego Rejestru Sądowego
    udostępnianych przez Fundację ePaństwo (https://epf.org.pl).

    # Autoryzacja
    Każde zapytanie do API musi zawierać ważny klucz API w nagłówku HTTP 'Authorization'. Klucze API dla danego
    konta są widoczne po zalogowaniu, na stronie https://rejestr.io/konto/api.

    # Pola KRS udostępniane przez API
    API rejestr.io udostępnia wszystkie pola obecne w odpisach aktualnych KRS za wyjątkiem numerów PESEL osób.
    Udostępniamy również dane historyczne.

    Wszystkie te pola znajdują się w węźle `fields` w odpowiedzi na zapytanie.

    Dodatkowo, niektóre podstawowe pola są również zwracane bezpośrednio, poza strukturą `fields`: np. adres,
    forma prawna, nazwa, numery NIP, REGON. Ich pełna lista jest wyliczona przy odpowiedzi
    `200 Dane organizacji w KRS` dla powyższego zapytania.

    Wszystkie pola zwracane w `fields` są zgrupowane w rozdziały tematyczne, tzw. "chapters". Ich lista to:
    - basic - podstawowe pola
    - branches - pola dotyczące oddziałów organizacji
    - financials - pola dotyczące finansów
    - obligations - pola dotyczące zobowiązań
    - transformations - pola dotyczące przekształceń, zmian statutu, itp.

    Aby zatem otrzymać pełnię aktualnych danych o organizacji, równą informacjom zawartym w odpisie KRS
    (poza numerami PESEL), potrzeba wykonać maksymalnie pięć zapytań API, po kolei prosząc o niepuste
    rozdziały z powyższej listy.

    Struktura `fields` jest skomplikowana, celem umożliwienia prezentowania zmian wartości pól w czasie.
    Jej szczegółowe omówienie znajduje się dalej w treści tej dokumentacji. Natomiast poniżej wyliczone
    są nazwy pól zwracanych przez API rejestr.io:


    # Struktura węzła fields
    Pola w węźle `fields` mogą mieć formę prostą lub grupową.

    <br/>

    **Przykład pola w formie prostej:**


    ```
    "nazwa_krotka": {
        "_value": "EXAMPLEX POLSKA",
        "_range": {
            "begin_entry_no": 7,
            "begin_date": "2010-02-03"
        }
    }
    ```

    Powyższy format pola zawiera:
    - nazwę pola (tu: `nazwa_krotka`)
    - aktualną wartość pola (tu: `EXAMPLEX POLSKA`)
    - informację od kiedy ta wartość jest obowiązująca (tu: od wpisu do KRS nr `7`, z dnia `2010-02-03`)

    <br/>

    **Przykład pola w formie grupowej:**

    ```
    "przedmiot_pozostalej_dzialalnosci_przedsiebiorcy": {
        "_childs": {
            "3": {
                "_value": {
                    "symbol": [
                        "46",
                        null,
                        null
                    ],
                    "title": "Handel hurtowy, z wyłączeniem handlu pojazdami samochodowymi"
                },
                "_range": {
                    "begin_entry_no": 1,
                    "begin_date": "2011-03-04"
                }
            },
            "6": {
                "_value": {
                    "symbol": [
                        "46",
                        "90",
                        "Z"
                    ],
                    "title": "Sprzedaż hurtowa niewyspecjalizowana"
                },
                "_range": {
                    "begin_entry_no": 5,
                    "begin_date": "2012-04-05"
                }
            },
            "7": {
                "_value": {
                    "symbol": [
                        "46",
                        "61",
                        "Z"
                    ],
                    "title": "Sprzedaż hurtowa maszyn I urządzeń rolniczych oraz dodatkowego wyposażenia"
                },
                "_range": {
                    "begin_entry_no": 5,
                    "begin_date": "2012-04-05"
                }
            }
        },
        "_value": {
            "members": [
                3,
                6,
                7
            ],
            "members_count": 3,
            "members_total_count": 7
        },
        "_range": {
            "begin_entry_no": 5,
            "begin_date": "2012-04-05"
        }
    }
    ```

    Powyższy format pola zawiera:
    - nazwę pola (tu: `przedmiot_pozostalej_dzialalnosci_przedsiebiorcy`)
    - podstrukturę `childs` zawierającą aktualne pola podrzędne; każde z nich może być
      w formacie prostym lub grupowym (tu: format prosty); każde z nich ma numer porządkowy (tu: `3`, `6`, `7`)
    - wartość pola (w strukturze `_value`), która jest listą numerów porządkowych pól podrzędnych aktualnych na
      dzisiaj (`members`, tu: `3`, `6`, `7`)
    - liczbę aktualnych pól podrzędnych (`members_count`, tu: `3`) oraz wszystkich, w tym historycznych,
      pól podrzędnych (`members_total_count`, tu: `7`)
    - informację od kiedy ta wartość, czyli konkretna lista pól podrzędnych, jest obowiązująca
      (tu: od wpisu do KRS nr `5`, z dnia `2012-04-05`); uwaga: niektóre z pól podrzędnych mogły być dodane
      przez wcześniejszy wpis (tu: pole nr `3`, dodane we wpisie do KRS nr `1`)

    # Dane API wymagające planu Rejestrio Premium
    Te pola, które na portalu https://rejestr.io dostępne są jedynie dla użytkowników posiadających
    plan [Rejestrio Premium](https://rejestr.io/premium), wymagają również tego planu przy dostępie przez API.
    Są to następujące dane:
    - poniższe chaptery organizacji:
      - branches
      - obligations
      - transformations
    - odpisy KRS
    - dane historyczne, kwerendowane przy pomocy parametru `entry_no` zapytania API
  contact:
    name: MGBI sp. z o.o.
    url: 'https://www.mgbi.pl'
    email: info@mgbi.pl
servers:
  - url: 'https://rdf-api.imsig.pl'
paths:
  /v1/documents/:
    get:
      summary: ''
      operationId: get-v1-documents
      responses:
        '200':
          description: |-
            OK

            Poprawne wyszukiwanie dokumentów
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 100
                uniqueItems: true
                description: |-
                  Lista dokumentów spełniających kryteria
                  określone w parametrach metody, posortowanych malejąco według daty publikacji w RDF.
                  W przypadku, gdy żaden dokument nie spełnia podanych kryteriów, zwracana jest pusta
                  lista. W przypadku, gdy liczba dokumentów spełniających kryteria jest większa niż 100,
                  lista zawiera 100 pierwszych dokumentów.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Unikalny identyfikator dokumentu (wewnętrzy identyfikator dokumentu w RDF)
                      example: 2047606
                      format: int32
                    krs:
                      type: string
                      pattern: "^\\d{10}$"
                      minLength: 10
                      maxLength: 10
                      description: 'Numer KRS podmiotu, którego dotyczy dokument'
                      example: '0000028860'
                    type:
                      $ref: '#/components/schemas/document_type'
                    period_from:
                      type: string
                      format: date
                      example: '2019-01-01'
                      description: 'Data początkowa okresu, którego dotyczy dokument'
                    period_to:
                      type: string
                      example: '2019-12-31'
                      format: date
                      description: ' Data końcowa okresu, którego dotyczy dokument'
                    period_year:
                      type: integer
                      example: 2019
                      format: int32
                      description: 'Rok obrachunkowy, którego dotyczy dokument'
                    preparation_date:
                      type: string
                      format: date
                      example: '2020-06-30'
                      description: Data sporządzenia dokumentu
                    filing_date:
                      type: string
                      format: date
                      example: '2020-07-01'
                      description: Data publikacji dokumentu w RDF
                    crawling_date:
                      type: string
                      format: date
                      example: '2020-07-15'
                      description: Data pobrania dokumentu z RDF
                    is_correction:
                      type: boolean
                      example: false
                      description: 'Informacja, czy dokument jest korektą'
                    ias_standard:
                      type: boolean
                      example: false
                      description: 'Informacja, czy dokument został sporządzony zgodnie z Międzynarodowymi Standardami Rachunkowości'
                    language:
                      $ref: '#/components/schemas/language'
                    submission_id:
                      type: integer
                      format: int32
                      description: Wewnętrzny identyfikator zgłoszenia w RDF
                      example: 845399
                    file_root:
                      type: string
                      description: Nazwa pliku dokumentu bez rozszerzenia (w języku angielskim)
                      example: 0000028860_2018_financial_statement_2047606
                      pattern: "^\\d{10}_\\d{4}_[a-z_]+_\\d+$"
                    file_root_pl:
                      type: string
                      pattern: "^\\d{10}_\\d{4}_[a-z_]+_\\d+$"
                      example: 0000028860_2018_sprawozdanie_finansowe_2047606
                      description: Nazwa pliku dokumentu bez rozszerzenia (w języku polskim)
                    file_format:
                      type: string
                      example: pdf
                      description: Format pliku
                    file_content_type:
                      $ref: '#/components/schemas/mime_type'
                    download_url:
                      type: string
                      format: uri
                      description: Bezpośredni adres URL pliku z treścią oryginalnego dokumentu
                      example: 'https://rdf-api.imsig.pl/v1/documents/2047606/download'
                    pdf_preview_url:
                      type: string
                      format: uri
                      description: Bezpośredni adres URL pliku z dokumentem w postaci przetworzonej do formatu PDF (tylko dla dokumentów w formacie XML)
                      example: 'https://rdf-api.imsig.pl/v1/documents/2047606/download?format=pdf'
                    html_preview_url:
                      type: string
                      format: uri
                      example: 'https://rdf-api.imsig.pl/v1/documents/2047606/download?format=html'
                      description: Bezpośredni adres URL pliku z dokumentem w postaci przetworzonej do formatu HTML (tylko dla dokumentów w formacie XML)
                  required:
                    - id
                    - krs
                    - type
                    - period_from
                    - period_to
                    - period_year
                    - filing_date
                    - crawling_date
                    - is_correction
                    - ias_standard
              examples:
                example-1:
                  value:
                    - id: 2047606
                      krs: '0000028860'
                      type: financial_statement
                      period_from: '2018-01-01'
                      period_to: '2018-12-31'
                      period_year: 2018
                      preparation_date: '2019-03-29'
                      filing_date: '2019-06-27'
                      crawling_date: '2019-08-14'
                      is_correction: false
                      ias_standard: true
                      language: pl
                      submission_id: 845399
                      file_root: 0000028860_2018_financial_statement_2047606
                      file_root_pl: 0000028860_2018_sprawozdanie_finansowe_2047606
                      file_format: pdf
                      file_content_type: application/pdf
                      download_url: 'http://rdf-api.imsig.pl/v1/documents/2047606/download/'
                      pdf_preview_url: 'http://rdf-api.imsig.pl/v1/documents/2047606/preview/?format=pdf'
        '400':
          description: |-
            Bad Request

            Niewłaściwy format zapytania
          content:
            application/json:
              schema:
                $ref: ../common/models/error.v1.yaml
              examples:
                example-1:
                  value:
                    error: Invalid year format
        '401':
          description: |-
            Unauthorized

            Niepoprawna autentykacja tokenu
          content:
            application/json:
              schema:
                $ref: ../common/models/error.v1.yaml
              examples:
                example-1:
                  value:
                    error: "Missing 'Authorization' header"
        '403':
          description: |-
            Forbidden

            Nieudana autoryzacja dostępu do API
          content:
            application/json:
              schema:
                $ref: ../common/models/error.v1.yaml
              examples:
                example-1:
                  value:
                    error: Access forbidden
        '429':
          description: |-
            Too Many Requests

            Wykorzystany limit zapytań do API
          content:
            application/json:
              schema:
                $ref: ../common/models/error.v1.yaml
              examples:
                example-1:
                  value:
                    error: Quota is exceeded
      description: Pobiera informacje o dokumentach złożonych do Repozytorium Dokumentów Finansowych KRS spełniających podane kryteria.
      parameters:
        - schema:
            type: string
            example: '0000028860'
            pattern: "^\\d{10}$"
            minLength: 10
            maxLength: 10
          in: query
          name: krs
          description: 'Numer KRS podmiotu, którego dotyczy dokument'
        - schema:
            $ref: '#/components/schemas/document_type'
          in: query
          name: type
          description: Rodzaj dokumentu
        - schema:
            type: integer
            example: 2019
          in: query
          name: period_year
          description: 'Rok obrachunkowy, którego dotyczy dokument'
        - schema:
            type: string
            format: date
            example: '2020-01-01'
          in: query
          name: filing_date_from
          description: Początek zakresu dla daty publikacji dokumentu w RDF
        - schema:
            type: string
            format: date
            pattern: '2020-12-31'
          in: query
          name: filing_date_to
          description: Koniec zakresu dla daty publikacji dokumentu w RDF
        - schema:
            type: string
            format: date
            example: '2020-07-01'
          in: query
          name: crawling_date_from
          description: Początek zakresu dla daty pobrania dokumentu z RDF
        - schema:
            type: string
            format: date
            example: '2020-07-31'
          in: query
          name: crawling_date_to
          description: Koniec zakresu dla daty pobrania dokumentu z RDF
      tags:
        - dokumenty
components:
  schemas:
    document_type:
      type: string
      description: Rodzaj dokumentu
      x-examples: {}
      enum:
        - auditors_opinion
        - consolidated_auditors_opinion
        - balance_sheet
        - footnotes
        - cash_flow_statement
        - profit_and_loss_statement
        - equity_statement
        - financial_statement
        - consolidated_footnotes
        - consolidated_equity_statement
        - consolidated_balance_sheet
        - consolidated_cash_flow_statement
        - consolidated_profit_and_loss_statement
        - consolidated_equity_statement
        - consolidated_financial_statement
        - activity_report
        - consolidated_and_parent_activity_report
        - parent_activity_report
        - report_on_payments
        - consolidated_report_on_payments
        - resolution_on_approval
        - consolidated_resolution_on_approval
        - resolution_on_profit_distribution
      example: financial_statement
      x-tags:
        - typy
    language:
      type: string
      title: language
      example: pl
      pattern: '^[a-z]{2}$'
      minLength: 2
      maxLength: 2
      description: |-
        Język, w którym sporządzono dokument

        Łańcuch znaków (dwuliterowy kod języka ISO 639-1)
      x-tags:
        - typy
    mime_type:
      title: mime_type
      type: string
      description: |-
        Typ MIME pliku.

        Lista możliwości:
        https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
      x-tags:
        - typy
  securitySchemes:
    API Key:
      name: Authorization
      type: apiKey
      in: header
security:
  - Authorization: []
